*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    width: 100%;
}
/* navigation bar styles */
nav{
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 1000;
    position: sticky;
    background-color: rgb(0, 0, 0);
}
label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-bottom: 20px;
    margin-right: 100px;
}
nav ul li{  
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    justify-content: space-between;
}
nav ul li a{
    color: white;
    font-size: 17px;
}
a:hover{
    color: rgb(47, 0, 255);
    transition: .5s;
}
button.nav-button{
    background-color: rgba(62, 62, 201, 0.973);
    border: none;
    color: white;
    height: 45px;
    width: 140px;
    font-size: 17px;
}
button.nav-button:hover{
    color: rgb(66, 64, 165) ;
    background-color: white;
    font-size: 17px;
}
/* black page styles */
.title-1{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 40px;
    color: white;
    font-size: 95px;
    font-weight: 700;
}
.title-2{
    margin-top: 100px;
    margin-left: 100px;
    color: rgba(206, 195, 195, 0.74);
    font-size: 25px;
    font-weight: 400;
    margin-right: 540px;
}
.flip{
    writing-mode: vertical-lr !important;
    text-orientation: upright !important;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 16px;
    color: white;
}
.side-img{
    float: right;
}
/* content style */
.content{
    background-color: whitesmoke;
    margin-top: 35%;
    padding: 3px;
}
.content-yellow{
    background-color: #FFE569;
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    width: 80%;
    margin-top: 100px;
    padding-top : 5%;
    padding-bottom : 39%;
    margin-bottom: 100px;
}
.img-colored{
    width: 100%;
}
.content-ios{
    color: #5F7161;
    margin-left: 130px;
}
.content-blue{
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 800px;
    font-size: 19.4px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content-blue:hover{
    color: #2F58CD;
}
.paragraph-blue{
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 450px;
    font-size: 19.4px;
    color: #5F7161;
}
.img-blue{
    background-color: #79E0EE;
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    width: 80%;
    margin-top: 100px;
    padding-top : 5%;
    padding-bottom : 39%;
    margin-bottom: 100px;
}
.blue-footer{
    display: flex;
    gap: 2%;
    margin-left: 130px;
    color: #5F7161;
}
/* Purple styles */
.img-purple{
    background-color: #3A1078;
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    width: 80%;
    margin-top: 100px;
    padding-top : 5%;
    padding-bottom : 39%;
    margin-bottom: 100px;
}
.content-purple{
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 800px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content-purple:hover{
    color: #2F58CD;
}
.paragraph-purple{
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 450px;
    font-size: 19.4px;
    color: #5F7161;
}
.content-purple2{
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 800px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph-purple2{
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 450px;
    margin-bottom: 100px;
    font-size: 19.4px;
    color: #5F7161;
}
/* Services Styles */
.services-header{
    font-size: 20px;
    font-family: 400;
}
.services{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    gap: 30px;
    margin-left: 130px;
    margin-right: 130px;
    padding: 120px;
}
/* Services Button */
.services-btn{
    background-color: rgba(62, 62, 201, 0.973);
    border: none;
    color: white;
    height: 45px;
    width: 170px;
    font-size: 17px;
    margin-top: 130px;
}
.services-btn:hover{
    background-color: white;
    color: #2F58CD;
    transition: .5s;
}